<body id="hero">
    <app-header-bar-criada></app-header-bar-criada>
    <section>
        
        <div class="container-textos">
            <h1>
                ferramentas do <span>contador gestor: </span>alcance novos <span>patamares</span> no seu <span>negócio</span>
            </h1>
            <p class="primeiroTexto">Aprimore sua gestão contábil com um conjunto completo de controles e ferramentas exclusivas. Adquira agora para receber alguns bônus exclusivos enquanto durar nosso estoque de atendimento.</p>

            <div class="containerBotao">
                <a href="https://hotmart.com/pt-br/marketplace/produtos/ferramentas-do-contador-gestor/E94398973C?sck=HOTMART_PRODUCT_PAGE" target="_blank">Comprar Agora</a>
            </div>
            <p class="segundoTexto">Bônus exclusivo: Solicite material editado com a sua logomarca via WhatsApp (81) 98822-6619 (Equipe de Suporte)</p>
            <p class="terceiroTexto">Bônus limitado: Receba o maior controle consultivo do mercado, faça algumas dezenas de reais todos os meses prestando consultoria estratégica, marketing e comercial para os seus clientes.</p>
        </div>

    </section>
</body>