<section>
    <h2 class="title"><span>Perguntas</span> frequentes</h2>
    <div id="container">
        <!-- acordeon 1 -->
        <div class="acordeon">
            <button class="acordeon-header">
                <span>
                    Para quem é esse produto?
                </span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="acordeon-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi, ullam natus officiis est distinctio repudiandae veniam autem quis pariatur.
                </p>
            </div>
        </div>

        <!-- acordeon 2 -->
         <div class="acordeon">
            <button class="acordeon-header">
                <span>
                    Como funciona o 'Prazo de Garantia'?
                </span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="acordeon-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi, ullam natus officiis est distinctio repudiandae veniam autem quis pariatur.
                </p>
            </div>
        </div>

        <!-- acordeon 3 -->
         <div class="acordeon">
            <button class="acordeon-header">
                <span>
                    Como faço para solicitar meus Bônus?
                </span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="acordeon-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi, ullam natus officiis est distinctio repudiandae veniam autem quis pariatur.
                </p>
            </div>
        </div>

        <!-- acordedeon 4 -->
         <div class="acordeon">
            <button class="acordeon-header">
                <span>
                    Como acessar o produto?
                </span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="acordeon-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi, ullam natus officiis est distinctio repudiandae veniam autem quis pariatur.
                </p>
            </div>
        </div>

        <!-- acordeon 5 -->
         <div class="acordeon">
            <button class="acordeon-header">
                <span>
                    Como faço para comprar?
                </span>
                <i class="fa-solid fa-chevron-down arrow"></i>
            </button>
            <div class="acordeon-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore animi, ullam natus officiis est distinctio repudiandae veniam autem quis pariatur.
                </p>
            </div>
        </div>
        
    </div>
</section>